#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.strikeThrough {
  text-decoration: line-through;
  color: white;
}

.complete {
  background-color: green;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5px;
  border-radius: 20px;
}

.deleteButton {
  background-color: white;
  color: red;
  border-radius: 20px;
  margin-left: 20px;
}

