#root{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app{
  background-color: #dddddd;
  width: 100%;
  padding: 20px;
}

.header {
  background-color: #6aa84f;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}

.hero{
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  column-gap: 10px;
  height: 100%;
}

.navigation {
  background-color: #6fa8dc;
  flex: 1;
}

.main {
  background-color: #e06666;
  flex: 2;
}

.row {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.subContents {
  background-color: #ffd966;
  width: 100%;
  height: 300px;
}

.advertisement {
  background-color: #b4a7d6;
  height: 150px;
  width: 100%;
}

